# Ambiente local
VITE_SUPABASE_URL=tu_url_supabase
VITE_SUPABASE_ANON_KEY=tu_clave_publica_supabase

# API Google Sheets
VITE_GOOGLE_SHEETS_API_KEY=tu_api_key_google
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxrnsy5Nnc3NhuaiMDQttchV96qtNqVuS8DVP8gZePhdt8FJ0V5AD9aAO-MSVIPkGVT/exec
